<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
  </head>
  <body>



	<div class="owl-demo owl-carousel">
		<% @books.each do |book| %>
			<div class ="items">
			 <%= link_to(book) do %>
		  		<%= image_tag(book.book_cover.url(:medium)) %>
			<% end %>
			</div>	
		<% end %>
	</div>

	<!-- PopUp Box appears when user hovers over book_image -->
			<script type="text/javascript">
				$( document ).ready(function(){
					$(".owl-carousel").owlCarousel({


				navigation : true, // Show next and prev buttons
        slideSpeed : 300,
        paginationSpeed : 400,
        items : 3
    });

				  $(".image_wrapper").hover(function(){
				  	var pop_up = $(this).find('.pop_up')
				  	pop_up.css({left:300, top:50})
				  	pop_up.fadeIn(400);
				 },function(){
				 		var pop_up = $(this).find('.pop_up')
				 		pop_up.hide();
				 	})
				});
			</script>
		<!-- END OF POPUP BOX -->

  </body>
</html>
