<!DOCTYPE html>

<script type="text/javascript" src="jQuery-1.4.1-min.js"></script>


<% @books.each_slice(3) do |books| %>
	<div class="row">
		<% books.each do |book| %>
				<div class="col-md-4">
					<div class="books">
						<div class="image_wrapper">
							<div class="pop_up"></div>
							 <%= link_to(book) do %>
						  		<%= image_tag(book.book_cover.url(:medium)) %>
							<% end %>
						<%= book.title %>
						<%= book.description %>
						</div>
					</div>
				</div>
		<% end %>
	</div>
<% end %>

<script type="text/javascript">
	$(document).ready(function(){
	  $('.image_wrapper').on("mouseover", function(){
	  	$('.pop_up').show();
	  }).on("mouseleave", function(){
	  	$('.pop_up').hide();
	  })

	});
</script>
